*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
body{
    overflow: auto;
    background: url('DTDL Backgroud.png');
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    background-color: mediumvioletred;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.6s;
    z-index: 100000;
}

header.sticky{
    padding: 5px 100px;
    background: wheat;
}
header .logo{
    position: relative;
    font-weight: 600;
    font-size: 2em;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.6s;
    color: antiquewhite;

}
header .logo span{
    color: blueviolet;
}

/* Navbar styling */

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    color: white;
}
header ul li a{
    transition: color 0.3s ease;
}
header ul li a:hover{
    color: aquamarine;
}
header.sticky .logo,
header.sticky ul li a{
    color: black;
}

/* Home section styling / font changer*/
.home{
    display: flex;
    border-radius: 100px;
    height: 85vh;
    color: white;
    min-height: 500px;
    
}
.home .home-width{
    max-width: 1300px;
    padding: 0 100px;
    margin: auto 5px 150px 40px;
}
.home .home-content .text-1{
    font-size: 30px;
}
.home .home-content .text-2{
    font-size: 25px;
    font-weight: 400;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 45px;
    font-weight: 550;
    margin-left: -3px;
}
.home .home-content .text-3 span{
    font-size: 20px;
    color: black;
    font-weight: 500;
}
.home .home-content .text-4{
    font-size: 30px;
    margin: 5px 0;
}
.home .home-content .text-5{
    color: black;
}


p{
    color: rgb(96, 3, 96);
    margin-top: 10px;
    font-size: 15px;
}

/* About section styling */
section{
    padding: 20px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 40px;
    margin: auto;
}
.about h2{
    top: 60px;
    color: whitesmoke;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 30px;
    padding-bottom: 20x;
}
.about h2::before{
    content: "";
    position: absolute;
    width: 130px;
    height: 3px;
    left: 50%;
    bottom: -5px;
    background-color: rgb(186, 29, 29);
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
}
.about .about-content .right{
    width: 50%;
}
.about .about-content .right img{
    width: 260px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.about .about-content .left{
    margin-top: 50px;
    width: 50%;
}
.about .about-content .left .text{
    color: palegreen;
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: 500px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-bottom: 20x;
}
.about .about-content .left .text::before{
    content: "";
    position: absolute;
    height: 3px;
    left: 50%;
    bottom: -5px;
    background-color: peru;
    transform: translateX(-50%);
}

.about .about-content .left .txt-1::before{
    width: 110px;
}

.about .about-content .left .doc{
    display: flex;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 15px;
    justify-content: space-between;
}
.about .about-content .left .doc-1{
    color: greenyellow;
    margin-top: 5px;
    font-weight: 600;
    margin-left: 30px;
}


/* Skills section styling */
.skills h2{
    top: 60px;
    color: whitesmoke;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 30px;
    padding-bottom: 20x;
}
.skills h2::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    left: 50%;
    bottom: -5px;
    background-color: rgb(186, 29, 29);
    transform: translateX(-50%);
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
}
.skills .skills-content .right{
    width: 50%;
    margin-top: 50px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-top: 20px;
    font-size: large;
    font-weight: 600;
    justify-content: space-between;
    color: azure;
}
.skills .skills-content .right .line{
    position: relative;
    top: 2px;
    height: 5px;
    width: 100%;
    background-color: lightgray;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(52, 198, 52);

}
.skills .skills-content .right .Intellij::before{
    width: 100%;
}
.skills .skills-content .right .java::before{
    width: 100%;
}
.skills .skills-content .right .Selenium::before{
    width: 100%;
}
.skills .skills-content .right .testNg::before{
    width: 100%;
}
.skills .skills-content .right .maven::before{
    width: 100%;
}
.skills .skills-content .right .rest:before{
    width: 100%;
}
.skills .skills-content .right .manual::before{
    width: 100%;
}
.skills .skills-content .right .postman::before{
    width: 100%;
}
.skills .skills-content .right .mongoDB::before{
    width: 100%;
}
.skills .skills-content .right .Jira::before{
    width: 100%;
}
.skills .skills-content .right .servlets::before{
    width: 100%;
}
.skills .skills-content .right .hibernate::before{
    width: 100%;
}

.cv{
    display: inline-block;
    background-color: crimson;
    color: azure;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 20px;
    margin-left: 200px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.cv:hover{
    color: crimson;
    background: none;
}
.about .down .text-3{
    color: palegreen;
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: 500px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-bottom: 20x;
}
.about .down .text-3::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 230px;
    left: 50%;
    bottom: -5px;
    background-color: peru;
    transform: translateX(-50%);
}
.about .down .doc-2{
    color: white;
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-left: 30px;
}
.about .crtfct{
    display: flex;
    flex-wrap: wrap;
}
.about .down img{
    height: 300px;
    width: 400px;
    margin-left: 5px;
    border-radius: 10px;
}

/* Contacts section styling */
.contact h3{
    top: 60px;
    color: whitesmoke;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 20px;
}
.contact h3::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 3px;
    left: 50%;
    bottom: -5px;
    background-color: rgb(186, 29, 29);
    transform: translateX(-50%);
}
.form{
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 90px;
}
.form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: rgb(83, 81, 81);
    padding: 10px;
    margin: 5px 0;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
.form button{
    display: inline-block;
    cursor: pointer;
    background-color: crimson;
    color: azure;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 15px;
    margin-top: 15px;
    margin-left: 100px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.form button:hover{
    color: crimson;
    background: none;
}

/* Footer section styling */
footer{
    width: 100%;
    background-color: darksalmon;
    border-radius: 5px;
}
.footer{
    display: flex;
    justify-content: center;
}
.footer .email p{
    color: black;
}
.footer .social-icon{
    margin-top: 20px;
    margin-left: 20px;
}
.footer .social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: orangered;
    display: inline;
}
footer .bottom p {
    color: blueviolet;
    text-align: center;
    padding-bottom: 5px;
}
footer p span{
    color: red;
}





#icon{
    display: "none";
    /* background-color: blue; */
}

/* Navbar styling */

@media(max-width:900px){
#icon{
    /* display: flex; */
    position: fixed;
    /* background-color: aqua; */
    right: 0;
    margin-right: 50px;
    top: 0;
    width: 30px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 100000;
}
#icon::before{
    content: "";
    position: absolute;
    margin-top: 22px;
    width: 25px;
    height: 4px;
    background-color: green;
    transform: translateY(-10px);
    transition: 0.4s;
}
#icon::after{
    content: "";
    position: absolute;
    margin-top: 22px;
    width: 25px;
    height: 4px;
    background-color: green;
    box-shadow: 0 10px 0 0 black;
    transition: 0.4s;
}
.active#icon::before{
    transform: rotate(45deg);
    background-color: red;
}
.active#icon::after{
    transform: rotate(-45deg);
    box-shadow: none;
    background-color: red;
}
.menu{
    position: fixed;
    margin: 0;
    width: 100%;
    height: 35vh;
    background-color: darksalmon;
    text-align: center;
    padding: 0;
    display: block;
    /* top: 80px; */
    margin-top: 46px;
    right: 0;
    top: -100%;
    transition: 0.5s;
}

.menu li{
    list-style: none;
    padding: 15px 40px;
    font-weight: 600;
    cursor: pointer;
}
.menu li a:hover{
    color: rgb(129, 246, 87);
}
.active.menu{
    /* right: 0; */
    top: 0;
}

/* Home section styling / font changer */

.home .home-width{
    padding: 0 20px;
    margin: auto 0 100px auto;
}
.home .home-content .text-1{
    font-size: 30px;
}
.home .home-content .text-2{
    font-size: 25px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 25px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    font-size: 30px;
    color: brown;
    font-weight: 500;
}

.cv{
    display: inline-block;
    background-color: crimson;
    color: azure;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 20px;
    margin-left: 50px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.cv:hover{
    color: crimson;
    background: none;
}

/* About styling */
.about .about-content .right img{
    height: 300px;
    width: 220px;
}
.max-width{
    max-width: 800px;
}
.about .about-content .column{
    width: 50%;
}
.about .about-content .right{
    display: flex;
    padding-right: 10px;
}
.about .about-content .left{
    flex: 50%;
}

}






/* theme-toggler */

.theme-toggler{
    position: fixed;
    top: -10rem;
    margin-top: 3rem;
    right: 0;
    margin-right: 5rem;
    /* background-color: blue; */
    text-align: center;
    width: 20rem;
    z-index: 1000;
    transition: 0.4s;
}
.theme-toggler.active{
    top: 0;
}
.theme-toggler .buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}
.theme-toggler .buttons .theme-btn{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.toggle-btn{
    position: fixed;
    top: 45px;
    /* left: -4.9rem; */
    padding: 1.3rem 1.5rem;
    /* background: blue; */
    cursor: pointer;
}
.toggle-btn i{
    color: pink;
    font-size: 2rem;
    animation: spin 4s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(360deg);
    }
}