{% include "header.html" %}

<section class="about" id="about">
    <div class="max-width">
        <h2>About Me</h2>
        <div class="about-content">

            <div class="column left">
                <img src="/static/Ravi ranjan.jpg" alt="Self" width="#" height="#">
            </div>
            
        </div>

        <p><b>Ravi ranjan kumar</b>,(born August, 1994) is a software Development Engineer in Test and currently serving as a settlement oficer in State government of Bihar at Nawada District .</p>

        <p><b>---------- Early Life --------</b></p>

        <p>He is born on <b>6th August 1994 at village name pariyari, Arwal</b>. His father's name as <b>Ram babban singh</b>, he is a farmer and Mother's name as a <b>Vaijayanti devi</b>, she is a house wife. He is a only one brother and a sister. Sister is also serving a state government job as a Technician in BSPTCL.His early education beguns at the age of six, he went to boarding school at jehanabad and the age of nine, went to patna for bording school. He did schooling at JMV residential school chitnama, Intermediate at MHS College Rajapur patna-10. For Higher education he went to Delhi, he completed <b>Bachelor's degree from ITS Engineering college</b>, greater noida under A.K.T.U University, Lucknow.</p>

        <p><b>Bachelor's degree :-</b> He moved to corportate life and joined as quality Analyst at optimus electronics limited from (31 Aug. 2016 to 28 Oct. 2016), then moved to cyient limited, at GIS Engineer in navigation field & gave valuable, five years of her life to GIS field at cyient ltd.,He served as <b>Junior geophrical engineer to senior GIS engineer.</b></p>
        
        <p>(3rd Nov. 2016 to 17th Dec. 2022) 
            Now he moved to <b>Deutsche Telekom Digital Labs as a SDET Engineer in Gurgram, Harayana.</b>
            (14th Sept. 2022 to 30th May 2023)
            Current Working as settlement officer at Nawada, district of Bihar. Served under State government of Bihar.(1st Jun. 2023 -till date). 
        </p>

    </div>
</section>

{% include "footer.html" %}