{% include "header.html" %}

<section class="skills" id="skills">
    <div class="max-width">
        <h2>Education</h2>
        <div class="skills-content">

            <div class="column left">
                <img src="/static/Ravi ranjan 1.jpg" alt="Self" width="#" height="#">
            </div>

            <div class="column right">
                
                <div class="doc"><span>B.tech</span><span>2012 – 2016</span></div>
                    <div class="doc-1">
                        ITS Engineering College,
                        <div>Electronics & Communication Engineering,</div>
                        AKTU University, Greater Noida,UP- 201308.
                    </div>
                
                <div class="doc"><span>12th</span><span>2010 - 2012</span></div>
                    <div class="doc-1">
                        M.H.S Collage (Rajapur),
                        <div>Intermediate in PCM,</div>
                        Bihar Board, Patna- 800001.
                    </div>
                
                <div class="doc"><span>10th</span><span>2010</span></div>
                <div class="doc-1">
                    J.M.V Residentail School (Danapur Chitnama),
                    <div>CBSE, Patna- 801503.</div>
                </div>    
                
            </div>

            <div class="column down">
                
                <div class="text txt-1">Skills</div>

                <div class="info">
                    <span>Eclipse/IntelliJ IDEA CE</span>
                    <span>100%</span>
                </div>
                <div class="line Intellij"></div>

                <div class="info">
                    <span>JAVA</span>
                    <span>100%</span>
                </div>
                <div class="line java"></div>
            
                <div class="info">
                    <span>Selenium Webdriver</span>
                    <span>100%</span>
                </div>
                <div class="line Selenium"></div>
            
                <div class="info">
                    <span>TestNG</span>
                    <span>100%</span>
                </div>
                <div class="line testNg"></div>
            
                <div class="info">
                    <span> Maven</span>
                    <span>100%</span>
                </div>
                <div class="line maven"></div>
            
                <div class="info">
                    <span>Rest Assured</span>
                    <span>100%</span>
                </div>
                <div class="line rest"></div>
            
                <div class="info">
                    <span>Manual Testing</span>
                    <span>100%</span>
                </div>
                <div class="line manual"></div>
            
                <div class="info">
                    <span>PostMan</span>
                    <span>100%</span>
                </div>
                <div class="line postman"></div>
            
                <div class="info">
                    <span>MongoDB</span>
                    <span>100%</span>
                </div>
                <div class="line mongoDB"></div>

                <div class="info">
                    <span>Jira</span>
                    <span>100%</span>
                </div>
                <div class="line Jira"></div>

                <div class="info">
                    <span>Servlets</span>
                    <span>100%</span>
                </div>
                <div class="line servlets"></div>

                <div class="info">
                    <span>Hibernate/JDBC</span>
                    <span>100%</span>
                </div>
                <div class="line hibernate"></div>
                
            </div>

        </div>
    </div>
</section>

{% include "footer.html" %}