<footer>
        
    <div Class="footer">
        <div class="email">
            <p><i class="fa-solid fa-envelope"></i> <b>ravi85720@gmail.com</b></p>
            <p><i class="fa-solid fa-phone"></i> +91 9354822601</p>
        </div>
        <div class="social-icon">
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href="https://wa.me/919354822601"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
    
    <div class="bottom"><p>Copyright &copy; Ravi Ranjan Kumar,   Assist with Er. Vivek Raj</P></div>

</footer>


<script src="/static/Index.js"></script>

</body>
</html>