{% include "header.html" %}
     
        <section class="home" id="home">
            <div class="home-width">
                <div class="home-content">
                    <div class="text-1">Hiii,</div>
                    <div class="text-2">RAVI RANJAN KUMAR <span class="second"> Web Developer</span></div>
                    <div class="text-3">IN & As Land & Revenue Department, SDET Engineer</div>
                    <div class="text-4">Deutsche Telekom Digital Labs</div>
                    <div class="text-5">Address: 15th Floor, DLF Building Number 9B, DLF Cyber City, DLF Phase 2, Sector 24, Gurugram, Haryana 122002</div>
                    <p>I hereby declare that the information provided by me is authentic and correct to the best of my knowledge.</p>
                </div>
            </div>
        </section>
        
        {% comment %} <a href="/static/Vivek raj.pdf" download class="cv">Download CV</a> {% endcomment %}
        

{% include "footer.html" %}
    
